
body {
  	background: gainsboro;
  	color: black;
	padding-right: 40px;
	padding-left: 40px;
}
form {
	padding-right: 40px;
	padding-left: 40px;
}
.required-field::after 
{
	color:red; 
	content: "*";
} 
.form-size {
	max-width=100%;
}

.font-bold {
	font-weight: 900;
}

.margin-right-5px{
  margin-right: 5px;
}

.margin-left-40px{
  margin-left: 40px;
}

.margin-right-100px{
  margin-right: 100px;
}
.padding-right-20px{
  padding-right: 20px;
}
.nav-bar-custom{
  background-color: #1E824C !important;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-bar-button-custom{
  background-color: gainsboro;
}

.container{
  margin-top: 2px;
  width: 600px;
}

.acctType{
  margin-top: 2px;
  width: 100%;
}

.submit-button{
  background-color: #1E824C !important;
}

.fixWeBuild{
  margin-top: 2px;
}

.float-right {
	float: right:
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.lognav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.lognav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #111;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: right;}
}
.dash-color {
	color: black;
	background: white;
	
}
